<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Listing for Pinn</h1>

		<f:flashMessages />

		<table  class="tx_pinnwand" >
			<tr>
				<th><f:translate key="tx_pinnwand_domain_model_pinn.header" /></th>
				<th><f:translate key="tx_pinnwand_domain_model_pinn.date" /></th>
				<th><f:translate key="tx_pinnwand_domain_model_pinn.image" /></th>
				<th><f:translate key="tx_pinnwand_domain_model_pinn.link" /></th>
				<th><f:translate key="tx_pinnwand_domain_model_pinn.text" /></th>
				<th><f:translate key="tx_pinnwand_domain_model_pinn.backgroundcolor" /></th>
				<th> </th>
				<th> </th>
			</tr>

			<f:for each="{pinns}" as="pinn">
				<tr>
					<td><f:link.action action="show" arguments="{pinn : pinn}"> {pinn.header}</f:link.action></td>
					<td><f:link.action action="show" arguments="{pinn : pinn}"> {pinn.date -> f:format.date()}</f:link.action></td>
					<td><f:link.action action="show" arguments="{pinn : pinn}"> {pinn.image.originalResource.name}</f:link.action></td>
					<td><f:link.action action="show" arguments="{pinn : pinn}"> {pinn.link}</f:link.action></td>
					<td><f:link.action action="show" arguments="{pinn : pinn}"> {pinn.text}</f:link.action></td>
					<td><f:link.action action="show" arguments="{pinn : pinn}"> {pinn.backgroundcolor}</f:link.action></td>
					<td><f:link.action action="edit" arguments="{pinn : pinn}">Edit</f:link.action></td>
					<td><f:link.action action="delete" arguments="{pinn : pinn}">Delete</f:link.action></td>
				</tr>
			</f:for>
		</table>

		<f:link.action action="new">New Pinn</f:link.action>
	</f:section>
</html>